venv/
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
credentials.json
token.json
drive_token.json
requirements.txt
env_template.txt
email_processor.log
email_processor.log.1
email_processor.log.2
email_processor.log.3
newkey.pem  